<!DOCTYPE html>
html(lang="en")
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title Best Platform for Onlne School Mangement | GyanMandir 
block scripts
    script(src="/static/teacherdashboard.js")


block style 
    style  
        include ../static/teacher.css
        include ../static/dashboard.css

block content
    nav#navbar
        ul
            li 
                img(src="/static/photos/school_building.png", alt="school")
            li 
                h3 #{teacher.schoolname}
        div#side-bar
            ul
                li Session: #{teacher.session_start}-#{teacher.session_end}
                li #[a(href='/setting') Settings]
                li #[a(href='/teacherlogout') Logout ]
    
    section#first-section 
        p Dashboard   
    section#main-section
        div#ncontainer
            button#btn1.tbtn(onclick="changematter1()") My Courses 
            button#btn3.tbtn(onclick="changematter2()") Add Class
        
        div#main-container
            div#matter1.matter 
                each val in classes 
                    div.itembox
                        li.item #[a(href='localhost:3000/onilne?id='+val.schoolid) #{val.class} #{val.section}]
                        li.item #[a(href='/onilne?id='+val.schoolid) #{val.subject}]
                        
                    
            div#matter2.matter 
                div#second
                    div#container
                        form(action="/addliveclass", method="post") 
                            h3 Create Class 
                            label.form School Name 
                                input.padding(type="text", name="schoolname",value=teacher.schoolname) 
                                input.padding(type="hidden", name="teacherid",value=teacher._id)
                                input.padding(type="hidden", name="schoolid",value=teacher.schoolid)
                            label.form School Code 
                                input.padding(type="text", name="schoolcode",value=teacher.schoolcode) 
                            label.form Class    
                                input.padding(type="text", name="class")    
                            label.form Section    
                                input.padding(type="text", name="section") 
                            label.form Subject    
                                input.padding(type="text", name="subject")     
                            input.final(type="submit",value="Add class")

                    img(src="/static/photos/class.png", alt="school")

            


block foot
    div#footer
        | Copyright © 2023 GyanMandir.com | All rights reserved
        
    


    