<!DOCTYPE html>
html(lang="en")
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title Best Platform for Onlne School Mangement | GyanMandir 
block scripts
    script(src="/static/indexDashboard.js")

block style 
    style  
        include ../static/teacherlist.css

block content
    h3 #{word} list 
    div#container
        table
            tr 
                th Name 
                th Email   
                th Admission Number
                th Phone
                th Class 
                th Section 
            each val in student 
                tr
                    td= val.name
                    td= val.email 
                    td=val.admission_no
                    td=val.phone
                    td=val.class
                    td=val.section
